<!-- html과 동일 -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/main.css" />
  </head>
  <body class="grey-bg">
    <!-- include 하는 방법 -->
    <%- include('nav.ejs') %>
    <!-- //include 하는 방법 -->

    <div class="white-bg">
      <% for (let i=0; i < post.length; i++){ %>
      <div class="list-box" style="cursor: pointer">
        <h4><%= post[i].title %></h4>
        <p><%= post[i].content %></p>
      </div>
      <%}%>
    </div>

    <!-- ejs문법 -->
    <!-- <% %>자바스크립트 / <%- %>include(html) / <%= %>데이터바인딩(text) -->
  </body>
</html>
